# Path to root of Dart source tree (must be built)
DART_SRC=$HOME/dart/source/dart

# Pick the appropriate architecture (must match Apache, and the Dart you built)
DART_ARCH=x64
#DART_ARCH=ia32

DART_LIB=$DART_SRC/runtime/out/Debug_x64/obj.target/runtime
DART_GEN=$DART_SRC/runtime/out/Debug_x64/obj/gen

# Path to Apache apxs, leave blank if apxs or apxs2 is on the PATH
APXS= 

# Path to Apache binary, leave blank if httpd or apache2 is on the PATH
HTTPD= 